{% extends 'base.html.twig' %}

{% block body %}
    <script>
        window.InitialRoute = '{{ InitialRoute }}';
        window.IsSystemAdmin = {{ IsSystemAdmin }};
        window.AdminOrgs = [
            {% for org in AdminOrgs %}
            {
                OrgId: {{ org.OrgId }},
                OrgName: '{{ org.OrgName }}',
                AdminDefault: {{ org.AdminDefault }},
                DefaultTZ: '{{ org.DefaultTZ }}'
            },
            {% endfor %}
        ];
    </script>
    <div id="react-container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundle.js') }}"></script>
{% endblock %}
