{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">BroncoCast</h1>
                    <p class="lead">
                        Welcome! BroncoCast is an email and text broadcast service. FIRST Robotics Team 1987, The
                        Broncobots,
                        needed an easy way to reach out to students, parents, and adult mentors with important
                        information and
                        announcements. Please click Learn more to read more about BroncoCast and how your organization
                        can utilize it.
                    </p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Register
                    </div>
                    <div class="card-body">
                        <form name="register" action="{{ path('auth_register_save') }}" method="post" role="form">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email" name="email" maxlength="50"/>
                            </div>
                            <div class="form-group">
                                <label>Choose Password</label>
                                <input class="form-control" id="password1" type="password" name="password1"/>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input class="form-control" id="password2" type="password" name="password2"/>
                            </div>
                            {% if err is defined %}
                                <div><small class="text-danger">{{ err }}</small></div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <h3>Already have an account?</h3>
                <a class="btn btn-primary btn-lg" href="{{ url('auth_login') }}" role="button">Login</a>
                <h3 class="mt-3">Forgot your password?</h3>
                <a class="btn btn-primary btn-lg" href="{{ url('auth_recover') }}" role="button">Recover Account</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function onSubmit() {
        var pwd1 = $("#password1").val().trim();
        var pwd2 = $("#password2").val().trim();

        if (pwd1 !== pwd2) {
            alert('The passwords do not match');
            return;
        }

        document.forms.register.submit();
    }
</script>
{% endblock %}
